<h3>System Administration {{globals.authenticatedUser.userName}}, {{globals.authenticatedUser.token}}, {{globals.authenticatedUser.licensedClientId}}, {{globals.authenticatedUser.displayName}}</h3>
<nav>
  <a routerLink="./lookups" routerLinkActive="active">Lookups</a>
  <a routerLink="./permission-levels" routerLinkActive="active">Permission Level</a>
  <a routerLink="./permission-names" routerLinkActive="active">Permission Name</a>
  <a routerLink="./jurisdictions" routerLinkActive="active">Jurisdictions</a>

</nav>
<router-outlet></router-outlet>